/*==============================================================
  # Variables.
==============================================================*/
:root {
  --black: #000000;
  --white: #FFFFFF;
  --white-smoke: #F1F1F1;
  /* @todo replace color names as grey-light ... */
  --light-grey: #CCCCCC;
  --gold-grey: #9E9E9E;
  --granite-gray: #616161;
  --dark-khaki: #BDB76B;
  --dark-cyan: #009688;
  --light-steel-blue: #BaC6D9;
}

/*==============================================================
  # General.
==============================================================*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", "Arial", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
}
/* @todo maybe remove ? */
/* Alignments. */
.a-center {
  text-align: center;
}

.a-justify {
  text-align: justify;
}

/*==============================================================
  # Top Bar (Header).
==============================================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background-color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  letter-spacing: 4px;
}

.header .logo {
  font-size: 1rem;
}

.header .nav-menu {
  margin-left: auto;
}

.header .nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-size: 1rem;
}

.header .hamburger-menu,
.header a.btn-close {
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav-menu .btn-close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: var(--white);
    font-weight: bold;
  }

  .nav-menu a.btn-close {
    display: block;
    font-size: 30px;
  }

  .header .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .header .hamburger-menu {
    display: block;
  }

  .header .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    padding-top: 6rem;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    opacity: 0.9;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li > a {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
  }

  .nav-menu a:hover,
  .nav-menu a:focus {
    color: var(--light-grey);
  }

  .header .nav-menu.active {
    right: 0;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/*==============================================================
  # Header Section.
==============================================================*/
#header {
  max-width: 1500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
}

#header .site-banner {
  max-width: 100%;
  height: auto;
}

#header .branding {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 16px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); /* Safari, Chrome, Opera */
  -ms-transform: translate(-50%,-50%);     /* Internet Explorer */
  -moz-transform: translate(-50%,-50%);    /* Mozilla Firefox */
}

#header .branding .br-suffix {
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--black);
  opacity: 0.75;
}

#header .branding .br-prefix {
  color: var(--white-smoke);
}

/*==============================================================
  # About Section.
==============================================================*/
#about {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 64px 10px;
}

#about h3 {
  text-transform: uppercase;
}

#about .row-2 {
  overflow: hidden;
}

#about .row-2 .team-photo {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  opacity: 1;
}

#about .row-2 .team-photo:hover {
  opacity: 0.60;
}

#about .row-2 [class^="col-"] {
  width: 50%;
  float: left;
  padding: 10px;
}

#about .row-2 .col-2 {
  padding-top: 0;
  padding-right: 0;
}

/* Popup for team photo */
#about .popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

#about .popup-content {
  display: block;
  margin: 50px auto;
  max-width: 80%;
  max-height: 80%;
}

#about .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/*==============================================================
  # Offer Section.
==============================================================*/
section.offer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-bottom: 64px;
}

section.offer .ofr-heading {
  font-size: 24px;
  padding: 64px 64px;
}

section.offer .ofr-heading > span {
  border-bottom: 6px solid var(--granite-gray);
  padding-top: 16px;
  padding-bottom: 16px;
}

section.offer .ofr-row {
  overflow: hidden;
}

section.offer .ofr-row [class^="ofr-col-"] {
  width: calc(25%);
  float: left;
  padding: 15px;
}

section.offer .ofr-row .ofr-col-1 {
  color: var(--black);
  background-color: var(--white-smoke);
}

section.offer .ofr-row .ofr-col-2 {
  color: var(--black);
  background-color: var(--gold-grey);
}

section.offer .ofr-row .ofr-col-3 {
  color: var(--white);
  background-color: var(--granite-gray);
}

section.offer .ofr-row .ofr-col-4 {
  color: var(--white);
  background-color: var(--black);
}

/*==============================================================
  # Projects Section.
==============================================================*/
#project {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
}

#project .bg-img-1 {
  background: linear-gradient(to top, #6b171733, #2b1b37cc), url("../../assets/img/bg-image-1.jpg") fixed center no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  opacity: 0.75;
}

#project .bg-img-1 > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 36px;
  color: var(--white);
  letter-spacing: 4px;
  text-transform: uppercase;
}

#project .prj-heading {
  font-size: 24px;
  padding: 64px 64px;
}

#project .prj-heading > span {
  padding-top: 16px;
  padding-bottom: 16px;
}

#project [class^="prj-row-"] {
  margin-top: 64px;
  overflow: hidden;
  margin-left: 164px;
  margin-right: 164px;
}

#project [class^="prj-row-"] [class^="prj-col-"] {
  width: calc(25%);
  float: left;
  padding: 7px;
}

#project [class^="prj-row-"] [class^="prj-col-"] .prj-display {
  position: absolute;
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--black);
}

#project [class^="prj-row-"] [class^="prj-col-"] .house-design:hover {
  opacity: 0.60;
}

/* Popup for house design photo */
#project .prj-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

#project .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#project .prj-popup-content .prj-slide {
  animation: opac 0.8s;
}

@keyframes opac {
  from {opacity: 0}
  to {opacity: 1}
}

#project .prj-popup-content .prj-slide > img {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  height: auto;
}

/* Button tour for house design photo */
#project .prj-popup-content .prj-btn {
  padding: 8px 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  margin-right: 16px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--black);
}

#project .prj-popup-content .prj-btn:hover {
  color: var(--black);
  background-color: var(--white-smoke);
}

/*==============================================================
  # Good At Section.
==============================================================*/
section.good-at {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-bottom: 64px;
}

section.good-at .heading {
  font-size: 24px;
  padding: 24px 24px;
}

section.good-at .heading > span {
  border-bottom: 6px solid var(--granite-gray);
  padding-top: 16px;
  padding-bottom: 16px;
}

section.good-at > span {
  letter-spacing: 10px;
}

section.good-at .line {
  color: #000;
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

section.good-at .line > div {
  color: #fff;
  background-color: #616161;
}

/*==============================================================
  # Statistic Section.
==============================================================*/
section.block-statistic .bl-row {
  color: var(--white);
  background-color: var(--granite-gray);
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;
}

section.block-statistic .bl-row [class^="bl-col-"] {
  width: calc(25%);
  float: left;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

section.block-statistic .bl-row [class^="bl-col-"] > span {
  font-size: 24px;
}

/*==============================================================
  # Team Section.
==============================================================*/
#team .bg-img-2 {
  background: linear-gradient(to top, #6b171733, #2b1b37cc), url("../../assets/img/bg-image-2.jpg") fixed center no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  opacity: 0.75;
}

#team .bg-img-2 > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 36px;
  color: var(--white);
  letter-spacing: 4px;
  text-transform: uppercase;
}

#team .toggle {
  padding-top: 16px;
  padding-bottom: 16px;
}
#team .toggle .btn-toggle {
  color: var(--white);
  background-color: var(--black);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#team .toggle .btn-toggle:hover {
  color: var(--black);
  background-color: var(--light-grey);
}

#team .grid-team {
  color: var(--black);
  background-color: var(--white-smoke);
  max-width: 1500px;
  overflow: hidden;
  margin: 0 auto 64px auto;
  transition: margin-left .4s;
  filter: grayscale(50%);
}

#team .grid-team .gr-row [class^="gr-col-"] > img {
  width: calc(25%);
  padding: 15px;
  float: left;
}

.gr-row-padding img {
  width: calc(25%);
  float: left;
  padding: 0;
}

#team .popup-modal {
  z-index: 3;
  display: none;
  padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.7);
}

#team .popup-modal:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.7);
}

#team .popup-modal .close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
}

#team .popup-modal .popup-modal-content {
  margin: auto;
  background-color: var(--white);
  position: relative;
  width: 1200px;
  padding-top: 24px;
  padding-bottom: 24px;
  animation: trans 0.6s;
}

@keyframes trans {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#team .popup-modal .popup-modal-content > img {
  display: block;
  margin: 50px auto;
  height: auto;
}

/*==============================================================
  # Contact Section.
==============================================================*/
#contact {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

#contact > span {
  display: block;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30px;
}

#contact > p em {
  opacity: 1;
}

#contact .social-icons {
  width: calc(50%);
  float: left;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 32px;
}
#contact .social-icons .fa {
  width: 30px;
}

#contact .contact-form {
  width: calc(50%);
  float: left;
  margin-bottom: 34px;
}

#contact .contact-form .fields [class^="field-"] > input,
#contact .contact-form form input {
  width: calc(50%);
  float: left;
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  margin: 20px auto 0 auto;
}

#contact .contact-form form input[class="message"] {
  width: 100%;
}

#contact .contact-form form > button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  float: right;
  margin-top: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contact .contact-form form > button:hover {
  color: var(--black);
  background-color: var(--light-grey);
}

#contact .contact-form form > button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

/* @todo re-write styles: padding for contacts and map. */
/*.company-location {}*/

/*==============================================================
  # Footer Section.
==============================================================*/
#footer {
  color: var(--white);
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

#footer .row {
  padding: 1em 1em;
  overflow: hidden;
}

#footer .wrapper .col {
  padding: 0 2em;
  min-height: 15em;
  float: left;
}

#footer .social {
  width: 20%;
}

#footer .link {
  width: 40%;
}

#footer .subscribe {
  width: 40%;
}

#footer h3 {
  width: 100%;
  text-align: left;
  color: var(--white);
  font-size: 1.4em;
  white-space: nowrap;
}

#footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#footer li:not(:first-child) {
  margin-top: 0.8em;
}

#footer ul li a {
  color: var(--light-grey);
}

#footer input,
#footer button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

#footer button {
  color: var(--white-smoke);
  background-color: var(--dark-khaki);
}

#footer div.social-link {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

#footer .social-link i {
  color: var(--light-steel-blue);
}

/* Go To Top */
#footer .scroll-back {
  position: relative;
  z-index: 1;
  float: right;
}

#footer .scroll-back > span {
  display: none;
  padding: 8px 16px;
  background-color: var(--dark-cyan);
}

#footer .scroll-back:hover > span {
  display: inline-block;
}

#footer .scroll-back a.btn-go-top {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#footer .scroll-back a.btn-go-top > i {
  font-size: 1.5em;
}

/* Footer Menu */
#foot .copyright {
  padding: 0.3em 1em;
  background-color: var(--black);
}

#footer .footer-menu {
  float: left;
  margin-top: 10px;
}

#footer .footer-menu a {
  color: var(--light-grey);
  padding: 6px;
}

#footer .footer-menu a:hover,
#footer .social-link i:hover {
  color: var(--gold-grey);
}

#footer .copyright p {
  font-size: 0.9em;
  text-align: right;
}